    .______(/                              )\
    |   ___/____.   ____/_.____.___  ____.(__)_
----|   |  :|  :|  /      ||  :|   \ |  :|    /---------------------------
 _ _|____  :|  :| /   /   ||  :|  . \|  :|   :|            {{ inventory_hostname.rjust(13) }}
 \\\    |   |   |/   /|   :|  _|__ \     |   :|            .cs.svu-ac.in
---|________|_______/ |_______\/_/__\____|____|---------------------------
                    /(   Dept. of Computer Science, S. V. University
